[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
todoist-python = "*"
pytz = "*"
slackbot = "*"
python-crontab = "*"

[requires]
python_version = "3.7"

[scripts]
bot = "python bot.py runserver"
